^{:mode :serve}
{
 :main                 cljs-re-datatable.core
 :source-paths ["src/cljs" "env/dev"]
  ;:source-map-timestamp true
 :infer-externs true

  :preloads             [;devtools.preload
                         day8.re-frame-10x.preload]}

