^{:mode :serve}
{
 :main            workspaces.wscore
 :dependencies [[nubank/workspaces "1.0.1"]]
 :output-to       "docs/js/ws-main.js"
 :optimizations   :advanced
 :closure-defines {goog.DEBUG false}
 ;:pretty-print    true
 ;:pseudo-names    true
 :source-paths    ["src/cljs" "env/dev" "test/cljs"]
 ;:source-map-timestamp true
 :infer-externs   true}


