^{:mode :serve}
{
 :main            workspaces.wscore
 :dependencies []
 :output-to       "docs/js/ws-main.js"
 :optimizations   :none
 :closure-defines {goog.DEBUG true}
 :pretty-print    true
 :pseudo-names    true
 :source-paths    ["src/cljs" "env/dev" "test/cljs"]
 ;:source-map-timestamp true
 :infer-externs   true}


